__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

build/
dist/
release/
releases/
*.exe
*.zip
*.7z
*.rar
*.spec~

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
.env
.env.*

.idea/

*.tmp
*.part
*.ytdl
